name: Deploy to GKE Dev

on:
  push:
    branches:
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: google-github-actions/auth@v1
      with:
        credentials_json: '${{ secrets.GCP_SA_KEY }}'

    - uses: google-github-actions/setup-gcloud@v1
      with:
        project_id: nirmal-learning

    - run: gcloud auth configure-docker us-central1-docker.pkg.dev
    
    - name: Setup gcloud
      uses: google-github-actions/setup-gcloud@v1
      with:
        project_id: nirmal-learning
        install_components: 'gke-gcloud-auth-plugin'

    - name: Enable GKE Auth Plugin
      run: echo "USE_GKE_GCLOUD_AUTH_PLUGIN=True" >> $GITHUB_ENV

    - name: Get GKE Credentials
      run: |
        gcloud container clusters get-credentials demo-cluster --region us-central1

    - name: Build Backend
      run: |
        docker build -t us-central1-docker.pkg.dev/nirmal-learning/demo-repo/backend:${{ github.sha }} ./backend
        docker push us-central1-docker.pkg.dev/nirmal-learning/demo-repo/backend:${{ github.sha }}

    - name: Build Frontend
      run: |
        docker build -t us-central1-docker.pkg.dev/nirmal-learning/demo-repo/frontend:${{ github.sha }} ./frontend
        docker push us-central1-docker.pkg.dev/nirmal-learning/demo-repo/frontend:${{ github.sha }}

    - name: Get GKE Credentials
      run: |
        gcloud container clusters get-credentials demo-cluster --region us-central1

    - name: Deploy to Dev
      run: |
        helm upgrade --install demo-dev ./helm/demo-app \
          --namespace dev \
          --set backend.tag=${{ github.sha }} \
          --set frontend.tag=${{ github.sha }}
